<section class="venue-and-location-section row section-lip dark">
  <div class="venue-and-location col-md-12 padding-y-60 match-height-item-by-row" id="venue-and-location">
    <div class="container-fluid">
      <div class="venue-and-location-section-bg-container">
        <div class="venue-and-location-section-bg"></div>
      </div>
      <h2>Venue and Location</h2>
      <p class="venue-and-location-address">
        Accenture Office Munich <br>
        Balanstrasse 73, bldg 17
      </p>
    </div>
  </div>
  <div class="schedule col-md-12 padding-y-60 bg-deep-violet match-height-item-by-row" id="schedule">
    <div class="container-fluid table-wrap">
      <h2 class="margin-bottom-40" id="schedule">Schedule</h2>
      <table class="schedule-table">
        <tr>
          <th></th>
          <th>28 Nov</th>
          <th></th>
          <th>29 Nov</th>
          <th></th>
          <th>30 Nov</th>
        </tr>
        <tr>
          <th>8:00</th>
          <td>Welcome Registration</td>
          <th>8:00</th>
          <td>Welcome Coffee</td>
          <th>8:00</th>
          <td>Welcome Coffee</td>
        </tr>
        <tr>
          <th>9:00</th>
          <td>Opening</td>
          <th rowspan="4">9:00</th>
          <td rowspan="4">Hacking</td>
          <th>9:00</th>
          <td>Hacking</td>
        </tr>
        <tr>
          <th rowspan="3">10:30</th>
          <td rowspan="3">Hacking</td>
          <th>11:00</th>
          <td>Introducing Teams and Jury</td>
        </tr>
        <tr>
          <th>12:30</th>
          <td>Shortlisted hackathon project presentations</td>
        </tr>
        <tr>
          <th>14:00</th>
          <td>Award Ceremony</td>
        </tr>
        <tr>
          <th>22:00</th>
          <td>End of activities for Day 1</td>
          <th>22:00</th>
          <td>End of activities for Day 2</td>
          <th>15:00</th>
          <td>Cocktails</td>
        </tr>
      </table>
    </div>
  </div>
</section>
