<section class="section-featured row dark bg-deep-violet padding-y-60 section-lip">
  <div class="container">
    <div class="col-xs-24">
      <h2 class="margin-bottom-60" id="what-to-expect">What to expect</h2>
    </div>

    <div class="col-md-4 col-md-offset-3 margin-bottom-40">
      <div class="icon-item">
        <div class="icon-item-container">
          <img class="img img-responsive" src="./images/code-icon.svg" alt="" />
        </div>
        <p><b>30 hrs of hardcore coding</b></p>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-3 margin-bottom-40">
      <div class="icon-item">
        <div class="icon-item-container">
          <img class="img img-responsive" src="./images/robot-icon.svg" alt="" />
        </div>
        <p><b>Fun & play time with JetRacer AI Racing Robot</b></p>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-3 margin-bottom-40">
      <div class="icon-item">
        <div class="icon-item-container">
          <img class="img img-responsive" src="./images/idea-icon.png" alt="" />
        </div>
        <p><b>Creative brainstorming and workshops</b></p>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-4 col-md-offset-3 margin-bottom-40">
      <div class="icon-item">
        <div class="icon-item-container">
          <img class="img img-responsive" src="./images/coffee-icon.svg" alt="" />
        </div>
        <p><b>Unlimited snacks & coffee</b></p>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-3 margin-bottom-40">
      <div class="icon-item">
        <div class="icon-item-container">
          <img class="img img-responsive" src="./images/graph-icon.png" alt="" />
        </div>
        <p><b>Network with leading automotive software masterminds</b></p>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-3 margin-bottom-40">
      <div class="icon-item">
        <div class="icon-item-container">
          <img class="img img-responsive" src="./images/prize-icon.png" alt="" />
        </div>
        <p><b>Grand ceremony with prizes</b></p>
      </div>
    </div>

  </div>
</section>
