<!-- 
  Copyright (c) 2023 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<section class="about-section row bg-primary dark padding-y-60">
  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <h2 id="about" class="margin-bottom-40">About the Software Defined Vehicle Working Group</h2>
        <ul>
          <li>
            <b>SDV.Edge:</b> in-vehicle SW stack, focused on Service Fabric and Communication, as well as Runtime and Orchestration
          </li>
          <li>
            <b>SDV.Ops:</b> in-cloud mobility solutions to enable management of software stacks in large fleets of vehicles
          </li>
          <li>
            <b>SDV.Dev:</b> development toolchains and workflows for modern development of in- and off-vehicle applications
          </li>
        </ul>
      </div>
      <div class="col-md-2 match-height-item-by-row">
        <div class="vertical-separator vertical-separator-secondary"></div>
      </div>
      <div class="col-md-11 match-height-item-by-row">
        <ul>
          <li>
            <h3 class="h4">
              Open Technology Platform
            </h3>
            <p>
              Open-sourced, modular software components and frameworks that are fully integrated into the developer experience with a high degree of automation and virtualization.
            </p>
          </li>
          <li>
            <h3 class="h4">
              Automotive-Grade 
            </h3>
            <p>
              High performance computers as well as legacy ECUs. High standards for quality management, security, and safety across all vehicle domains.
            </p>
          </li>
          <li>
            <h3 class="h4">
              Open Standards 
            </h3>
            <p>
              Our solutions don't aim to "reinvent the wheel". Wherever possible, we use open standards to leverage the power of open collaboration.
            </p>
          </li>
          <li>
            <h3 class="h4">
              Community
            </h3>
            <p>
              We are building value together and welcome everyone to participate. Joining forces on the non-differentiating parts decreases time-to-market and enables sharing of best practices.
            </p>
          </li>
        </ul>
        <a class="btn btn-secondary margin-top-20" href="https://www.eclipse.org/org/workinggroups/sdv-charter.php">
          Read the Charter
        </a>
      </div>
    </div>
  </div>
</section>
