<!-- 
  Copyright (c) 2023 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<section class="video-section row padding-y-60">
  <div class="container">
    <h2 class="text-center margin-bottom-60">Videos</h2>
    <div class="video-section-featured">
      <div class="row">
        <div class="col-md-12 margin-bottom-40">
          <div class="h3 video-section-featured-title">Watch the Video Interviews</div>
          <p class="big padding-y-20">
            Open technology platform: The open technology platform will include
            open-sourced modular software components and frameworks that are fully
            integrated into a modern developer experience with a high degree of
            automation and virtualization.
          </p>
          <a class="btn btn-primary" href="/resources/videos">Watch More</a>
        </div>
        <div class="col-md-12">
          <a 
            class="eclipsefdn-video" 
            href="//www.youtube.com/embed/playlist?list=PLy7t4z5SYNaQYkqWW6KCm6c9xwdWNHU58"
          >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
