<div id="members" class="featured-section featured-members">
	<div class="container">
		<div class="row">
			<div class="col-md-18 col-md-offset-3">
				<h2>Members</h2>
				<p>
					Join leading organizations that are working collaboratively on the non-differentiating parts, thus decreasing time-to-market, sharing best practices, and overcoming the war for talent.
				</p>
			</div>
		</div>

		<div class="members-section">
			<h2>Strategic Member</h2>
			<ul class="eclipsefdn-sdv-members-list list-inline margin-bottom-20 flex-center gap-40" data-ml-wg="sdv"
			  data-ml-level="SD" data-ml-template="only-logos">
			</ul>

			<h2>Participant Member</h2>
			<ul class="eclipsefdn-sdv-members-list list-inline margin-bottom-20 flex-center gap-40" data-ml-wg="sdv"
			  data-ml-level="AP" data-ml-template="only-logos">
			</ul>

			<h2>Supporting Member</h2>
			<ul class="eclipsefdn-sdv-members-list list-inline margin-bottom-20 flex-center gap-40" data-ml-wg="sdv"
			  data-ml-level="WGSM, WGIDE" data-ml-template="only-logos">
			</ul>

			<h2>Guest Member</h2>
			<ul class="eclipsefdn-sdv-members-list list-inline margin-bottom-20 flex-center gap-40" data-ml-wg="sdv"
			  data-ml-level="WGSAP" data-ml-template="only-logos">
			</ul>
		</div>

		<div class="row">
			<div class="col-md-18 col-md-offset-3">
				<p class="margin-top-40 margin-bottom-40">
					All members of SDV must also be members of Eclipse Foundation. For more information please see our
					membership page at: <a
					  href="https://www.eclipse.org/membership/">https://www.eclipse.org/membership/</a>
				</p>
				<a class="btn btn-primary margin-right-5" href="/membership">Contact Us About Membership</a>
				<a class="btn btn-secondary margin-left-5" href="https://www.eclipse.org/org/workinggroups/wgpa/sdv-working-group-participation-agreement.pdf">Join as a Member Now</a>
			</div>
		</div>
	</div>
</div>
