/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.btn.btn-neutral {
  .button-variant(@brand-secondary, @white, @white);

  &:visited,
  &:focus {
    color: @brand-secondary;
  }
}

// Since buttons are pill-shaped, we need to remove the border radius from
// dropdown toggles in button groups so they look nice side-by-side.
.btn-group > .btn + .dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
