/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.card {
  box-shadow: 0 0 10px #00000066;
  padding: @card-padding;

  &-logo {
    max-width: 26rem;
    height: 8rem;
    margin-bottom: 4rem;
  }

  &-logo img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  
  // Modifiers
  &.card-bordered {
    border: 1px solid #e6e6e6;
  }
}

// SDV card designs
.card.icon-card {
  position: relative;
  padding: @icon-card-padding;
  padding-top: calc(@icon-card-padding + 2rem);
  height: 24rem;
  border-radius: 0.75rem;

  .icon-card-header {
    margin-bottom: 2rem;

    &-title {
      .h4;
      margin: 0;
      text-transform: uppercase;
      text-align: center;
    }

    &-icon {
      position: absolute;
      top: -3rem;
      left: calc(50% - 3rem);
      width: 6rem;
      height: 6rem;
      padding: 1rem;
      border-radius: 50% 50%;
      background-color: @brand-primary;
    }
  }

  .icon-card-body-cta {
    position: absolute;
    left: 0;
    bottom: calc(@icon-card-padding/2);
    width: 100%;
  }
}

.card.icon-card.icon-card-dark {
  color: @white;
  background-color: @brand-secondary;

  &,
  .icon-card-header-title {
    color: @white;
  }
}

//== Info Cards

// List of info cards
.info-list {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @screen-md-min) {
    flex-direction: row;
    margin: 6rem 30rem;
    justify-content: center;
    align-items: stretch;
    gap: 6rem;
    min-height: 40rem;
  }
}

.info-card {
  padding: 1rem 4rem 3rem;
  flex: none;
  flex-basis: 100%;
  border-radius: 10px;
  max-width: none;
  width: 100%;
  background-color: @white;
  font: unset;
  text-align: left;

  @media (min-width: @screen-md-min) {
    max-width: 36rem;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.08);
  }

  h2,
  .h2 {
    display: block;
    width: fit-content;
    padding: 5px 10px;
    margin: 20px auto 30px;
    border-bottom: 3px @brand-primary solid;
    font-family: @font-family-sans-serif;
  }
}
