/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

.news-list-card-row {
  display: flex;
  flex-direction: column;
}

.news-list-card-row .news-list-action,
.news-list .tpl-cards .news-item-card {
  overflow: hidden;
  border-radius: 1rem;
}

.news-list .tpl-cards .news-item-card {
  border: 2px #eee solid;

  .news-item-card-title {
    font-size: 18px; 
  }
}

.news-list-card-row {
  .news-list-action {
    margin-bottom: 2rem;
  }

  .news-list-action .btn {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 0;
  }

  .news-list-action-img {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: @screen-md-min) {
  .news-list-card-row {
    flex-direction: row;
    align-items: stretch;
    gap: 2rem;

    .news-list-action {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: stretch;
      width: 36rem;
      margin-bottom: unset;
    }
  }
}

@media (min-width: @screen-lg-min) {
  .news-list-card-row {
    gap: unset;
  }
}
